*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("images/homepage.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	font-family: 'Varela Round', sans-serif;
}

/*STyling the header part*/
header{
	background-color: white;
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding:16px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
header h1 img{
	height: 32px;
	width: 140px;
	margin: 0 8%;
}
header nav{
	justify-self:end;
}
header nav li{
	display:inline-block;
	margin: 10px 10px 0 0;
}
a{
    text-decoration: none;
    margin-right: 3vw;
    color: #a1a1a1;
}
/*Styling body portion 1*/
.intro{
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.right{
	background-color: white;
	margin: 150px auto;
	width: 88%;
	border-radius: 5px;
	color: rgb(90,90,90);
}
.right span{
	color: rgb(70,70,70);
	font-weight: bold;
}
.right table{
	font-weight: bold;
	color: rgb(70,70,70);
	width: 100%;
}
form{
	padding: 20px;
	padding-bottom: 0;
}
.form-head{
	background-color: #edeff0;
    padding: 25px;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
}
#freeTrial
{
    display: inline-block;
    background-color: #2a5f82;
    color: #fff;
    border-radius: 5px;
    margin: 20px 0 20px 5%;
	width:90%;
}
#freeTrial p{
	text-align: center;
	margin: 20px
}
input[type="text"]{
	width: 80%;
    border-radius: 3px;
    border: 2px solid #ccc;
    padding: 13px;
    margin: 5px;
    background-color: #f9f9f9;
}
hr{
	color: #a1a1a1;
}

.left{
	color: #fff;
	font-family: 'Varela Round', sans-serif;
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 10px 9%;
	line-height: 2.5em;
}
.left h2{
	margin-top: 20px;
}

.introStat{
    text-align: center;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    margin: 20px 15%;
    display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.introStat div span{
	font-size: 2em;
}

.vid{
	background-color: #f9f9f9;
	width: 100%;
	overflow: auto;
  	zoom: 1;
  	background-image: url("images/vidback.jpg");
  	background-repeat: no-repeat;
  	overflow: hidden;
}
.vid div{
	float: left;
}
.vid video{
	width: 95%;
	margin: 70px 5%;
	margin-right: 0;
}
.videocont{
	width: 60%;
	position: relative;
}
.videocont embed{
	position: absolute;
	bottom: -10px;
	right:-259px;
}
.videotxt{
	width: 30%;
	padding:75px 5%;
	line-height: 1.6em;
	color: #a0a0a0;
}
.videotxt h1{
	font-weight: bold;
	color: rgb(70,70,70);
	margin-bottom: 10px;
}

.test{
  height: 25vh;
  background: linear-gradient(176deg, #f9f9f9 50%, white 50%)
}
.sv{
	width: 100%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	background-color: #f9f9f9;

}
.sv embed{
	margin: 0 auto;
	margin-top: 30px;
	width: 398px;
	height: 300px;
}
.txt{
	width: 80%;
	line-height: 1.6em;
	color: #a0a0a0;
	padding: 70px 10%;
	padding-bottom: 0;
}
.txt h1{
	font-weight: bold;
	color: rgb(70,70,70);
	margin-bottom: 10px;
}
.txt img{
	height: 338px;
	width: 300px;
	margin: 30px 15%;
	padding: 0 auto;
}
.prtnr{
	background-color: white;
	text-align: center;
}
.prtnr h1{
	color: rgb(70,70,70);
}
.prtnr img{
	position: relative;
	width: 275px;
}
#amazon{
    top: 15px;
}
#google{
    bottom: 100px;
}

#ibm{
    bottom: 75px;
}

#microsoft{
    bottom: 25px;
}



.challenge{
	background: url("images/bottom.jpg");
	text-align: center;
	width: 40%;
	color: white;
	padding: 80px 30%;
	font-size: 1.15em;
	line-height: 2.7em;
}
.challenge p{
	margin-top: 25px;
	color: rgb(230,230,230);
}
.challenge button{
    background-color: #5fcf89;
    color: #fff;
    font-size: 0.9em;
    border-width: 0;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}

/*Footer styling*/
footer{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #f9f9f9;
	padding: 70px 40px;
	line-height: 1.5em;
}
footer nav ul{
	list-style: none;
}
.foot-logo img{
	height: 32px;
	width: 140px;
	margin: 0;
}
.foot-nav{
	justify-self:end; 
}
.foot-nav li{
	display: inline-block;
	width: 25px;
	margin-left: 4px;
}
.foot-nav img{
	height: 25px;
	width: 25px;
	border-radius: 0px;
}
#f2{
	margin-left: 40px;
}











/*Making Responsive*/
@media screen and (max-width: 1112px){
	#amazon{
		top: -100px;
	}

}
@media screen and (max-width: 900px) {
	.hide{
		display:none;
	}
	header h1{
		margin-left: 80%;
	}
	.intro{
	display:grid;
	grid-template-columns: 1fr;
}
	.sv{
	display:grid;
	grid-template-columns: 1fr;
	}
	.left{
		padding-bottom: 0;
	}
	.right{
		margin: 0 auto;
		width: 80%;
	}
	.videocont embed{
		display: none;
	}
	.vid div{
		float: none;
	}
	.vid video{
		margin: 0;
		width: 100%;
	}
	.videocont{
		width: 90%;
		margin: 20px auto 0 auto;
	}
	.videotxt{
		width: 80%;
		padding: 5% 10%;
	}
	#amazon{
		top: -100px;
	}
}


@media screen and (max-width: 850px){
	.prtnr h1{
		margin-bottom: 100px;
	}
	#amazon{
		top: 15px;
	}
	.hide2{
		display: none;
	}
	header h1{
		margin-left: 60%;
	}
}
@media screen and (max-width: 745px){
	.introStat{
	display:grid;
	grid-template-columns: 1fr 1fr;
	}
	footer{
	display:grid;
	grid-template-columns: 1fr;
	}
	#f2{
		margin-left: 0;
		margin-top: 20px;
	}
	.foot-nav{
		justify-self:left; 
		margin-top: 20px;
	}
	
}
@media screen and (max-width: 569px){
	.prtnr h1{
		margin-bottom: 150px;
	}
	#microsoft{
		top: -100px;
	}
	#amazon{
		top: -210px;
	}
	header h1{
		margin-left: 50%;
	}
	.sv img{
		display: none;
	}
	.sv embed{
		display: none;
	}
	input[type="text"]{
		width: 70%;
	}
	.left{
		grid-template-rows: 1fr 1fr 0.2fr;
	}
	.challenge{
	width: 70%;
	color: white;
	padding: 40px 15%;
	font-size: 1em;
	line-height: 2.5em;
}
}
@media screen and (max-width: 410px){
	header h1{
		margin-left: 0;
	}
	.introStat{
	display:grid;
	grid-template-columns: 1fr;
	}
	.test{
	background: linear-gradient(170deg, #f9f9f9 50%, white 50%)

	}
}